<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDMA project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>

<!-- navbar -->
<nav class="navbar sticky-top bg-custom-navbar d-flex justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand mx-5 " href="#">SDMA Project</a>
      <a href="/form" class="btn btn-warning btn-md"><span class="me-2" aria-hidden="true">&#128100;</span>Subscribe</a>
    </div>
  </nav>
<!-- navbar -->
<div class="container-sm my-custom-m-p text-center">
    <h1>🚀Fast paced way to manage your database</h1>
    <h2 class="opacity mb-5">Manage analytics like a boss</h2>
    <a href="/form" class="button btn btn-lg" id="button1">Login</a>
<a href="/form" class="btn btn-md btn-outline-primary rounded-pill " id="button2">Sign Up</a><br>
<!-- image -->
<img src="https://i.ibb.co/1Lv5NmT/image3015.png" alt="laptop" class="img-fluid mt-5">
</div>
<br>
<br>
<!-- hero section 1 -->
<div class="container-md bg-custom-containerHero mt-5 pt-5">
  <div class="row">
    <div class="col">
      <h3 class="">Centralized Student Database</h3>
      <br>
      <p class="d-inline">Effortlessly organize and access student information in one secure and centralized database.<br> Say goodbye to scattered records and hello to streamlined data management.</p>
    </div>
    <div class="col-auto">
      <img src="https://cdn-icons-png.flaticon.com/128/660/660478.png" alt="database" class=" img-fluid float-right my-custom-m-p-hero">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- hero section 2 -->
<div class="container-md bg-custom-containerHero mt-5 pt-5">
  <div class="row d-flex align-items-center">
    <div class="col-auto">
      <img src="https://cdn-icons-png.flaticon.com/128/5675/5675392.png" alt="database" class="img-fluid my-custom-m-p-hero2">
    </div>
    <div class="col t-block">
      <h3 class="">Intuitive User Interface</h3><br>
      
      <p class="d-inline  ">Navigate through the app with ease thanks to our user-friendly interface.<br>No steep learning curves - just a simple, intuitive experience for administrators and educators alike.</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- hero section 3 -->
<div class="container-md bg-custom-containerHero mt-5 pt-5">
  <div class="row">
    <div class="col">
      <h3 class="">Real-Time Updates</h3>
      <br>
      <p class="d-inline">Stay in the know with real-time updates.<br> Whether it's attendance records, grades, or contact information,<br> our app ensures that you have the latest information at your fingertips.</p>
    </div>
    <div class="col-auto">
      <img src="https://cdn-icons-png.flaticon.com/128/12959/12959335.png" alt="database" class=" img-fluid float-right my-custom-m-p-hero">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- hero section 4 -->
<div class="container-md bg-custom-containerHero mt-5 pt-5">
  <div class="row d-flex align-items-center">
    <div class="col-auto">
      <img src="https://cdn-icons-png.flaticon.com/128/2592/2592258.png" alt="database" class="img-fluid my-custom-m-p-hero2">
    </div>
    <div class="col t-block">
      <h3 class="">Reliable Security</h3><br>
      
      <p class="d-inline  ">Your data's security is our top priority. <br>Rest easy knowing that our advanced security measures keep sensitive information protected.</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- carousel -->

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Controls -->
  <div class="d-flex justify-content-center mb-4">
    <button class="carousel-control-prev position-relative" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-relative" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3"><i class="bi bi-patch-check-fill"></i> Ojas Bhalerao</h5>
            <p>Web Developer</p>
            <p class="text-muted">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
           
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3"><i class="bi bi-patch-check-fill"></i> Srushti Nalawade</h5>
            <p>UI/UX designer</p>
            <p class="text-muted">
                           Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid commodi.
            </p>
           
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3"><i class="bi bi-patch-check-fill"></i> Mohit Warke</h5>
            <p>Documentaton</p>
            <p class="text-muted">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
          
          </div>
          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3"><i class="bi bi-patch-check-fill"></i> Sai Gholap</h5>
            <p>Documentaton</p>
            <p class="text-muted">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
            
          </div>
          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3"><i class="bi bi-patch-check-fill"></i> Harshwardhan K</h5>
            <p>Documentaton</p>
            <p class="text-muted">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>

          </div>
          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3"></h5>
            <p>Documentaton</p>
            <p class="text-muted">
              
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
           
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">John Doe</h5>
            <p>UX Designer</p>
            <p class="text-muted">
            <i class="bi bi-patch-check-fill"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Alex Rey</h5>
            <p>Web Developer</p>
            <p class="text-muted">
            <i class="bi bi-patch-check-fill"></i>>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid commodi.
            </p>
            
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Maria Kate</h5>
            <p>Photographer</p>
            <p class="text-muted">
            <i class="bi bi-patch-check-fill"></i>>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Anna Deynah</h5>
            <p>UX Designer</p>
            <p class="text-muted">
              <i class="bi bi-patch-check-fill"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">John Doe</h5>
            <p>Web Developer</p>
            <p class="text-muted">
              <i class="bi bi-patch-check-fill"></i>              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid commodi.
            </p>
           
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Maria Kate</h5>
            <p>Photographer</p>
            <p class="text-muted">
              <i class="bi bi-patch-check-fill"></i>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->
<br>
<br>
<br>
<br>
<!-- footer -->

  <!-- Footer -->
  <footer class="text-center text-white bg-custom-navbar">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-black">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-black">Products</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-black">Awards</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-black">Help</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-black">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 text-black">
            <p>
              Welcome to our Student Database Management App! This innovative platform empowers educational institutions to effortlessly organize and access student information in a secure and centralized database.Our user-friendly interface ensures efficient data entry, retrieval, and maintenance, providing educators and administrators with a powerful tool to enhance student administration. 
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        
          <i class="bi bi-meta me-4 text-black"></i>
          <i class="bi bi-twitter-x me-4 text-black"></i>
          <i class="bi bi-google me-4 text-black"></i>
          <i class="bi bi-instagram me-4 text-black"></i>
          <i class="bi bi-linkedin me-4 text-black"></i>
          <i class="bi bi-github me-4 text-black"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->

<!-- TAGS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="lp.js"></script>
</body>
</html>
