body {
  background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-custom-navbar {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
}

.my-custom-m-p {
  margin-top: 80px;
  padding: 20px 0px;
}

.opacity {
  opacity: 0.7;
}

#button1 {
  margin-right: 15px;
}

#button1,
#button2 {
  padding: 10px 30px;
  font-weight: 600;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #00246b;
  border: 2px solid #cadcfc;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #8aaae5;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px #ffffff;
}

.button:active {
  scale: 1;
}

.bg-custom-containerHero {
  background-color: transparent;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

.line {
  width: 63px;
}
.line2 {
  width: 63px;
  margin-left: 538px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.my-custom-m-p-hero {
  padding: 0px 50px;
  margin: -10px 0px 0px 0px;
}

.t-block {
  padding-left: 303px;
  text-align: end;
}

.overlay-container {
  position: relative;
}

.overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control the darkness of the overlay */
}
